<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @word.description %>

</p>

<p>
  <strong>User:</strong>
  <%= link_to "#{@word.user.handle}", user_path(@word.user.id) %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
